SpringSoapProducer/target/m2e-wtp/web-resources/META-INF/maven/SpringSoapProducer/SpringSoapProducer/pom.xml
SpringSoapProducer/target/m2e-wtp/web-resources/META-INF/maven/SpringSoapProducer/SpringSoapProducer/pom.properties
SpringSoapProducer/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
SpringSoapProducer/target/jaxb2/.xjc-xjcStaleFlag
SpringSoapProducer/target/classes/resources/users.xsd
SpringSoapProducer/target/classes/com/ecristobale/soap/package-info.class
SpringSoapProducer/target/classes/com/ecristobale/soap/User.class
SpringSoapProducer/target/classes/com/ecristobale/soap/ObjectFactory.class
SpringSoapProducer/target/classes/com/ecristobale/soap/GetUserResponse.class
SpringSoapProducer/target/classes/com/ecristobale/soap/GetUserRequest.class
SpringSoapProducer/target/classes/com/ecristobale/configuration/SpInitializer.class
SpringSoapProducer/target/classes/com/ecristobale/configuration/SoapServiceConfiguration.class
SpringSoapProducer/WebContent/META-INF/MANIFEST.MF
SpringSoapProducer/Users/Ceed/eclipse-workspace/SpringSoapProducer/target/m2e-wtp/web-resources/META-INF/maven/SpringSoapProducer/SpringSoapProducer/pom.xml
SpringSoapProducer/Users/Ceed/eclipse-workspace/SpringSoapProducer/target/m2e-wtp/web-resources/META-INF/maven/SpringSoapProducer/SpringSoapProducer/pom.properties
SpringSoapProducer/Users/Ceed/eclipse-workspace/SpringSoapProducer/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
SpringSoapProducer/.settings/org.eclipse.wst.validation.prefs
SpringSoapProducer/.settings/org.eclipse.wst.jsdt.ui.superType.name
SpringSoapProducer/.settings/org.eclipse.wst.jsdt.ui.superType.container
SpringSoapProducer/.settings/org.eclipse.wst.common.project.facet.core.xml
SpringSoapProducer/.settings/org.eclipse.wst.common.component
SpringSoapProducer/.settings/org.eclipse.m2e.core.prefs
SpringSoapProducer/.settings/org.eclipse.jdt.core.prefs
SpringSoapProducer/.settings/.jsdtscope
SpringSoapProducer/.project
SpringSoapProducer/.classpath
SpringSoapProducer/target/classes/com/ecristobale/OperationsImpl.class
SpringSoapProducer/target/classes/com/ecristobale/IOperations.class
SpringSoapConsumer/bin/com/ecristobale/readme.txt
SpringSoapConsumer/bin/com/ecristobale/package-info.class
SpringSoapConsumer/bin/com/ecristobale/app/MainApp.class
SpringSoapConsumer/bin/com/ecristobale/OperationsImplService.class
SpringSoapConsumer/bin/com/ecristobale/ObjectFactory.class
SpringSoapConsumer/bin/com/ecristobale/IOperations.class
SpringSoapConsumer/bin/com/ecristobale/AddResponse.class
SpringSoapConsumer/bin/com/ecristobale/Add.class
SpringSoapConsumer/.settings/org.eclipse.jdt.core.prefs
SpringSoapConsumer/.project
SpringSoapConsumer/.classpath
soapExample/Spring4SoapProducer/.settings/org.eclipse.wst.validation.prefs
soapExample/Spring4SoapProducer/.settings/org.eclipse.wst.jsdt.ui.superType.name
soapExample/Spring4SoapProducer/.settings/org.eclipse.wst.jsdt.ui.superType.container
soapExample/Spring4SoapProducer/.settings/org.eclipse.wst.common.project.facet.core.xml
soapExample/Spring4SoapProducer/.settings/org.eclipse.wst.common.component
soapExample/Spring4SoapProducer/.settings/org.eclipse.m2e.core.prefs
soapExample/Spring4SoapProducer/.settings/org.eclipse.jdt.core.prefs
soapExample/Spring4SoapProducer/.settings/.jsdtscope
soapExample/Spring4SoapProducer/.project
soapExample/Spring4SoapProducer/.classpath
